
.people-in-category {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: baseline;
    align-content: flex-start;
    gap: 20px;
}

.profile-image {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 150px;
}