.publications-page {
    padding-top: 2%;
    padding-left: 10%;
}

.publications-top-bar {
    display: flex;
    flex-flow: row wrap;
    gap: 10%;
}

.publications-search {
    width: 60%;
    font-family: inherit;
    font-size: 16px;
    color: #333;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.year-publications-category {
    padding-top: 2.5%;
    padding-left: 8%;
    display: flex;
    flex-flow: row;
}

.publications-in-category {
    padding-left: 5%;
    padding-right: 10%;
}

.publication-card {
    display: flex;
    flex-direction: row;
    padding-top: 1%;
    gap: 3%;
}

.publication-card .abstract-expansion-button {
    position: relative;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
}

.publication-text-listing {
    max-width: 80%;
}

.publication-text-listing .abstract-paragraph {
    padding-top: 1%;
}

.publication-card a {
    /* Make <a> fit the robot image exactly */
    width: 60px;
    height: 60.35px;
}

.publication-card .cute-robot-reading-image {
    width: 60px;
    object-fit: cover;
    outline: dashed 0.1px #baa990;;
    border-radius: 20px;
    box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.3);
}

.publication-card .cute-robot-reading-image:hover {
    transform: scale(1.05);
    box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 0.3);
}