/* Reset or Normalize */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Global Styles */
  body {
    font-family: 'Arial, sans-serif';
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
  }
  