/* Reset or Normalize */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Global Styles */
  body {
    font-family: 'DM Sans, sans-serif';
    font: 14px/160% "DM Sans", sans-serif;
    line-height: 1.6;
    background-color: white;
    color: #231616;
  }
  