/* Reset or Normalize */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Global Styles */
  body {
    font-family: 'Optima, sans-serif';
    line-height: 1.6;
    background-color: #f8f6f3;
    color: #231616;
  }
  