/* Headings */
h1 {
    font-size: 2rem;
    font-weight: bold;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

p {
  font-size: 1rem;
  line-height: 1.5;
}

/* Links */
a {
  color: #231616;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
