.header {
  font-size: larger;
  width: 100%;
  height: 100px;
}

.header-nav {
  padding-top: 2%;
  padding-right: 10%;
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  gap: 5%;
}

.header-nav .home-logo {
  /* position: relative;
  bottom: 15%;
  left: 0%; */
  /* align-self: flex-start; */
  height: 50px;
  object-fit: contain;
  box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.3);
}

.header-nav .home-logo:hover {
  transform: scale(1.05);
  box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 0.3);
}